# Styling a DataFrame

<span>Styling a data frame is pleasant a surprising amount of times. You can define a coloring function for your data frame then apply the styling whenever you call the data frame at the end of the cell. Note that you cannot save styling to a data frame but only apply it when rending the data frame.</span>

### Import Preliminaries

In [20]:
# Import modules
import pandas as pd
import numpy as np
import warnings

# Set warning options
warnings.filterwarnings('ignore');

# Import dataframe
df = pd.DataFrame( data={'feature_1': np.random.randn(5),
                      'feature_2': np.random.random(5)})

# Define color schema in a function
def color_dataframe(value):
    """
    Color each cell in a datafarme using val in each cell/values of 
    the dataframe. Highlight every value above 0 with green, everything below
    will become red.
    
    Parameter
    ---------
    value (int): a value in the dataframe
    
    Example
    ---------
    >>>> df.style.applymap(color_dataframe)
    
    """
    if value < 0:
      color = 'red' 
    elif value > 0:
      color = 'green' 
    else:
      color =  'black'
    return 'color: %s' % color

In [21]:
# Apply dataframe highlighting to the dataframe
df.style.applymap(color_dataframe)

In [22]:
# Create a max highlight function
def highlight_max(s):
    """
    Color each cell in a datafarme using val in each cell/values of 
    the dataframe. Highlight the maxmum value in each feature as a yellow
    
    Parameter
    ---------
    value (int): a value in the dataframe
    
    Example
    ---------
    >>>> df.style.applymap(color_dataframe)
    
    """
    is_max = s == s.max()
    return ['background-color: yellow' if v else '' for v in is_max]

In [23]:
# Apply max highlighting to the dataframe
df.style.apply(highlight_max)

### Highlighting a Subset

In [24]:
# Applying styling only to a subset of feature in the dataframe
df.style.apply(highlight_max, subset=['feature_1'])

In [25]:
# Applying styling only to the first 2 records in the dataframe
df.style.apply(highlight_max, subset=pd.IndexSlice[0:2, ['feature_1','feature_2']])

### Formating Numeric Values

In [26]:
# Formating the numerical valusein the dataframe using the format method
df.style.format("{:.2%}")

In [27]:
# You can apply feature specific formatting as well 
df.style.format({'feature_1': "{:0<4.0f}", 'feature_2': '{:+.2f}'})

In [28]:
# You can also use a lambda function within your format method
df.style.format({"feature_1": lambda x: "±{:.2f}".format(abs(x))})

### Built in Styles

In [29]:
# Create some null values in our dataframe
df.loc[1,'feature_1'] = np.nan
df.loc[3,'feature_2'] = np.nan

# There are some pre build styles in in Pandas
df.style.highlight_null(null_color='red')

### Seaborn Color Styles

In [30]:
# Import seaborn
import seaborn as sns

# Create a color map
cm = sns.light_palette("green", as_cmap=True)

# Apply the color map to the dataframe
sdf = df.style.background_gradient(cmap=cm)
sdf

### Matplotlib Color Styles

In [31]:
# Import matplotlib 

import matplotlib.pyplot as plt
# Apply the color map to the dataframe
mdf = df.style.background_gradient(cmap=plt.cm.Purples)
mdf

### Min Max Highlights

In [32]:
# built in max value highligting
df.style.highlight_max(axis=0)

In [33]:
# built in min value highligting
df.style.highlight_min(axis=0)

### Style Set Properties

In [34]:
# You can style the default properties of the dataframe
df.style.set_properties(**{'background-color': 'black',
                           'color': 'lawngreen',
                           'border-color': 'white'})

### Bar Charts

In [35]:
# Pandas allows your to fill in the cell in your dataframe with
# a barplot. Again subsetting is an option here
df.style.bar(subset=['feature_1'], color='#d65f5f')

In [37]:
# Styling a barplot across the entire dataframe
df.style.bar(subset=['feature_1','feature_2'], color='#d65f5f')

In [38]:
# The barplot can me centered at zero as wel
df.style.bar(subset=['feature_1', 'feature_2'], align='mid', color=['#d65f5f', '#5fba7d'])

### Exporting and Sharing Style

In [39]:
# Style a dataframe
style1 = df.style.applymap(color_dataframe)
style1

In [42]:
# Create a copy of the dataframe but flip the operators
df2 = -df2

# Create a second style from the first style
style2 = df2.style
style2.use(style1.export())
style2

Author: Kavi Sekhon