# Simple Pivot Table

<span>The panda's crosstab function is really useful for creating when you want to create pivot tables for dimensional features. with one line of code, your can plot two dimensions against each other fairly quickly. The function has some more advanced multi-indexing functionality but I haven't looked into it very much.</span>
### Import Preliminaries

In [1]:
# Import modules
import pandas as pd

# Creaet a Data Frame
df = pd.DataFrame(data=[['Red','Red','Red','Blue','Green'],
                        ['Honda','Acura','Honda','Nissan','Nissan']])
df = df.T
df.columns = ['Color','Model']

# VIew the Data Frame
df

   Color   Model
0    Red   Honda
1    Red   Acura
2    Red   Honda
3   Blue  Nissan
4  Green  Nissan

### Pivot Table

In [18]:
# Create A Pivot Table
pd.crosstab(df['Color'],df['Model'])

Model  Acura  Honda  Nissan
Color
Blue       0      0       1
Green      0      0       1
Red        1      2       0