# Connecting to a Local Database

<span>This notebook goes over how to connects to a local database and runs an SQL query to wrangle the data into our notebook. We want to connect to our database using the notebook to make reproducibility easier by removing any manual data wrangling process external to the notebook. The parameters for this notebook are easy to adjust so that you can change the values and connect to your production or slave database.</span>

### Import Preliminaries

In [1]:
# Import modules
import pandas as pd
from sqlalchemy import create_engine

### Connect to Database

In [2]:
# Set your local database parameters 
db_username = 'root'
db_password = 'root'
host = '127.0.0.1'
port = '8889'
db_name = 'world'

# Create a MySQLEngine
engine = create_engine('mysql+mysqldb://'+db_username+':'+db_password+'@\
'+host+':'+port+'/'+db_name)

# Connect to database
engine.connect();

### Query Database

In [3]:
# Run a query on your database
df = pd.read_sql(""" SELECT * FROM city""", engine)

# View dataframe 
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

Author: Kavi Sekhon